.Header {
    position: relative;
    width: 100%;
    height: 700px;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0%;
        z-index: 2;
    }
    .HeaderImageContent {
        position: absolute;
        top: 50%;
        left: 32%;
        color: white;
        z-index: 50;
        h2 {
            font-size: 46px;
            padding-bottom: 30px;
        }
        a {
            padding: 15px 28px;
            border: 1px solid grey;
            text-decoration: none;
            color: white;
            transition: 0.4s ease-in-out;
            i {
                transition: 0.4s ease-in-out;
                padding-left: 20px;
            }
            &:hover {
                border: 1px solid $secondaryColor; 
                transition: 0.4s ease-in-out;
                i {
                    transition: 0.4s ease-in-out;
                    padding-left: 35px;
                }
            }
        }
    }

    .HeaderMainImage {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .HeaderMain {
        padding-top: 50px;
        position: relative;
        z-index: 6;
        .EndDestination {
            padding-top: 20px;
            i {
                opacity: 0.6;
                border: 1px solid rgba(255, 255, 255, 0.6);
                padding: 8px 16px;
                border-radius: 1px;
                display: inline-block;
                color: white;
                transition: 0.2s ease;
                cursor: pointer;
                &:hover {
                    transition: 0.2s ease;
                    opacity: 1;
                    border-color: $secondaryColor;
                }
            }
            p {
                color: white;
                display: inline-block;
                color: rgba(255, 255, 255, 0.6);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                cursor: pointer;
                transition: 0.2s ease;
                &:hover {
                    transition: 0.2s ease;
                    color: rgba(255, 255, 255, 1);
                    border-color: $secondaryColor;
                }
            }
        }
        .EndIcons {
            padding: 5px 0px;
            ul {
                float: right;
                list-style: none;
                li {
                    display: inline-block;
                    i {
                        padding: 15px;
                        color: white;
                        opacity: 0.6;
                        transition: 0.4s ease;
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                            transition: 0.4s ease;
                            border-bottom: 1px solid $secondaryColor;
                        }
                    }
                    .fa-envelope {
                        border: 1px solid rgba(255, 255, 255, 0.6);
                        transition: 0.4s ease;
                        &:hover {
                            transition: 0.4s ease;
                            border-bottom: 1px solid $secondaryColor;
                        }
                    }
                    .fa-phone {
                        border: 1px solid rgba(255, 255, 255, 0.6);
                        transition: 0.4s ease;
                        &:hover {
                            transition: 0.4s ease;
                            border-bottom: 1px solid $secondaryColor;
                        }
                    }
                }
            }
        }
    }
}