.News {
    padding: 50px 0px;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.4s ease;
    .RecentNews {
        padding: 50px 0px;
        h2 {
            display: inline-block;
            font-size: 27px;
            opacity: 0.8;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                border-bottom: 1px solid;
                border-bottom-color: $secondaryColor;
                transition: 0.3s ease;
            }
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 20%;
            left: 50%;
            margin-left: -36px;
            width: 72px;
            height: 1px;
            background-color: rgba(50, 50, 70, 0.2);
        }
    }
    .NewsContent {
        opacity: 0;
        transform: translateY(100px);
        transition: 0.4s ease;
        img {
            width: 100%;
        }
        ul {
            padding: 13px 0px;
            margin-bottom: 0px;
            text-align: center;
            list-style: none;
            li {
                padding: 0px 5px;
                display: inline-block;
                a {
                    font-size: 11px;
                    text-decoration: none;
                    color: $secondaryColor;
                    transition: 0.3s ease;
                    &:hover {
                        color: black;
                        border-bottom: 1px solid;
                        border-bottom-color: $secondaryColor;
                        transition: 0.3s ease;
                    }
                }
            }
        }
        h3 {
            text-align: center;
            a {
                text-decoration: none;
                border-bottom: 1px solid;
                border-bottom-color: black;
                color: black;
                transition: 0.2s ease;
                &:hover {
                    transition: 0.2s ease;
                    color: $secondaryColor;
                    border-bottom-color: $secondaryColor;
                }
            }
        }
        p {
            text-align: center;
            color: #c1c1c7;
        }
        #Date {
            padding: 10px 0px;
            text-decoration: none;
            display: block;
            text-align: center;
            border-bottom: 1px solid #c1c1c7;
            border-top: 1px solid #c1c1c7;
            p {
                display: inline-block;
                margin: 0px !important;
                color: #c1c1c7;
                transition: 0.2s ease;
                &:hover {
                    transition: 0.2s ease;
                    color: $secondaryColor;
                    border-bottom: 1px solid;
                    border-bottom-color: $secondaryColor;
                }
            }
        }
        #View {
            font-size: 14px;
            text-decoration: none;
            p {
                margin: 0px ;
                padding: 15px 0px;
                i {
                    transition: 0.2s ease;
                }
                transition: 0.2s ease;
                &:hover {
                    transition: 0.2s ease;
                    color: $secondaryColor;
                    i {
                        transition: 0.2s ease;
                        padding-left: 5px;
                    }
                }
                
            }
        }
    }
    .NewsBlog {
        margin: 0px auto;
        padding: 75px 0px;
        a {
            text-decoration: none;
            padding: 18px 36px;
            font-size: 15px;
            color: black;
            border: 1px solid;
            border-color: rgba(50, 50, 70, 0.2);
            border-radius: 1px;
            transition: all .25s ease-in-out 0s;
            &:hover {
                border-color: $secondaryColor;
                padding: 18px 50px;
            }
        }
    }
}